@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu Sans", sans-serif;
  --font-geologica: "Geologica", sans-serif;
  --font-sora: "Sora", sans-serif;
}

:root {
  @apply overflow-x-hidden;

  --blue: oklch(0.49 0.2135 273.93);
  --red: oklch(0.65 0.2369 25.39);
}

@theme inline {
  --color-blue: var(--blue);
  --color-red: var(--red);
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
